/* General */

body {
  background-color: #34056D;
  font-family: 'Comfortaa', cursive;
  color: #FF9200;
}

a {
  color: inherit;
}

a:hover,
.fa {
  color: #FF9200;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.container-fluid {
  padding: 0px;
}

/* Navbar */

.navbar {
  height: 70px;
  background-color: #000;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 0px
}

.navbar-logo p,
.nav-profile p {
  font-size: 20px;
  margin: 0px;
  display: inline-block;
  margin-top: 15px;
}

.navbar-logo {
  float: left;
}

.nav-font p {
  font-family: 'Comfortaa',cursive;
  color: #FF9200;
}

.comment-nesting{
  padding-left: 50px;
}

.comment-date a:hover,
.question-date a:hover,
.media a:hover {
  color: #cc7e15;
}

.navbar a:hover {
  color: black;
}

/* Profile menu */

.transparent-background {
  background-color: rgba(0,0,0,0);
}

.dropdown-toggle:after{ /* unfortunately cannot add classes to an after element specifically, so I had to repeat myself */
  color: #FF9200;
}

.profile-image {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.indented {
  border-color: white;
  background-color: #F9F9F9;
}

.dropdown-menu {
  background-color: black;
  min-width: 10px !important;
}

.dropdown-item {
  padding-left: 15%;
  color: #FF9200;
  text-decoration: none;
}

.dropdown-item:hover {
  color: black;
}

/* Main Page */

.main-search {
  text-align: center;
  padding-top: 200px;
}

.main-search p {
  font-size: 50px;
}

.search-bar {
  background-color: white;
  width: 900px;
  height: 50px;
  margin: auto;
  border-radius: 10px;
}

.search-bar input {
  width: 850px;
  height: 45px;
  background-color: transparent;
  border: none;
}

.search-bar input:focus {
  outline: none;
}

.nav-profile {
  float: right;
  padding-top: 10px;
  margin-right: -40px;
}

.featured-content {
  margin-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

.featured-item {
  height: 100px;
  margin-top: 20px;
}

.featured-item p {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding-top: 33px;
  color: black;
  height: 100%;
  font-size: 23px;
}

.featured-item p:hover {
  background-color: #FF9200;
}

.eng-text {
    margin: 1em;
}

.header-img {
  width: 3.5em;
  height: 3.5em;
}

.body-image {
  width: 250px;
  height: 250px;
  display: inline-block;
  float: right;
  margin: 2em;
}

.black-background {
  background-color: black;
}

.centered {
  text-align: center;
}

.main-content {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.question-block,
.comment-block {
  height: 100%;
  background-color: white;
  padding: 10px;
  color: black;
}

.question-title a:hover {
  color: inherit;
  text-decoration: none;
}

.question-title,
.comment-title {
  margin: 10px 0 15px;
}


.question-date,
.comment-date {
  font-size: 13px;
  font-style: italic;
  margin-left: 20px;
}

.question-date a,
.comment-date a,
.question-button:hover,
.comment-button:hover
.dropdown-item:hover {
  color: #FF9200;
}

.question-description,
.comment-description {
  margin: 10px 0px;
}

.question-button,
.comment-button {
  background-color: #34056D;
  color: #fff;
  margin-top: 5px;
}

.question-tag {
  min-width: 90px;
  margin-right: 20px;
  float: right;
  background-color: rgba(52, 5, 109, 0.52);
  color: #fff;
}

.question-tag:hover {
  background-color: #34056D;
}

.comment-block {
  margin-top: 0px;
}

.comment-block .media {
  padding-left: 30px;
}

.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.fa-thumbs-up:hover,
.positive {
  color: green;
  cursor: pointer;
}

.fa-thumbs-down:hover,
.negative {
  color: red;
  cursor: pointer;
}

.body-link {
  color: white;
}

.media {
  background-color: white;
}
