/* General */

html,
body {
  height: 100%;
}

body {
  font-family: 'Comfortaa', cursive;
  color: #000;
  background-color: #34056D;
}

a,
.dropdown-item,
.main-search h1,
.dropdown-toggle::after,
#options {
  color: #FF9200;
}

a:hover,
a:focus {
  color: #cc7e15;
  text-decoration: none;
}

#navbar-search button:hover,
#navbar-search button:focus,
.featured-item p:hover,
.button:hover,
.question-tag {
  background-color: #957db3;
}

.main-content {
  margin-bottom: 250px; /* Same height as footer */
  position: relative;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -250px;
  /* Pad bottom by footer height */
  padding: 0 0 250px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.container-fluid {
  padding: 0;
}

/* Navbar */

.navbar {
  height: 70px;
  background-color: #000;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 0;
}

.navbar-logo p,
.nav-profile p {
  font-size: 20px;
  margin: 15px 0 0;
  display: inline-block;
}

.navbar-logo {
  float: left;
}

.comment-nesting {
  padding-left: 50px;
}

.date a:hover,
.description a:hover,
.media a:hover {
  color: #cc7e15;
}

#navbar-search {
  width: 300px;
  float: right;
  margin-top: 10px;
  margin-right: 50px;
}

#navbar-search .form-control {
  border-color: #fff;
}

#navbar-search .input-group-btn {
  z-index: 10;
}

#navbar-search .form-control:focus {
  border-color: #66afe9;
}

#navbar-search button {
  /*border-color: red;*/
  background: #fff;
}

#navbar-search button:hover,
#navbar-search button:focus {
  color: #fff;
}

#navbar-search #search {
  font-family: inherit;
}


/* Profile menu */

.transparent-background {
  background-color: rgba(0,0,0,0);
}

.dropdown-toggle:focus {
  outline: 5px auto -webkit-focus-ring-color;
}

.profile-image {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.indented {
  border-color: white;
  background-color: #F9F9F9;
}

.dropdown-menu {
  background-color: black;
  min-width: 10px;
}

.dropdown-item {
  padding-left: 15%;
  text-decoration: none;
}

.dropdown-item:hover {
  color: black;
}

.nav-profile {
  float: right;
  padding-top: 5px;
  margin-right: -40px;
}

/* Home Page */

.row.featured-content {
  padding-bottom: 250px;
}

.modal .modal-header .close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.main-search {
  text-align: center;
  padding-top: 200px;
}

.main-search h1 {
  font-size: 50px;
}

.search-bar {
  background-color: white;
  width: 900px;
  height: 50px;
  margin: auto;
  border-radius: 10px;
}

.search-bar input {
  width: 850px;
  height: inherit;
  background-color: transparent;
  border: none;
}

.search-bar input:focus {
  outline: none;
}

.featured-content {
  margin-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

.featured-item {
  height: 100px;
  margin-top: 20px;
}

.featured-item p {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding-top: 33px;
  color: black;
  height: 100%;
  font-size: 23px;
}

.featured-item p:hover {
  color: white;
}

.eng-text {
  margin: 1em;
  color: #FF9200;
}

.header-img {
  width: 3.5em;
  height: 3.5em;
}

.body-image {
  width: 250px;
  height: 250px;
  display: inline-block;
  float: right;
  margin: 2em;
}

.black-background {
  background-color: black;
}

.centered {
  text-align: center;
}

.main-content,
.wrap {
  padding-left: 40px;
  padding-right: 40px;
}

.main-content {
  margin-top: 20px;
}

.info-block {
  height: 100%;
  background-color: white;
  padding: 10px;
  color: black;
}

.title a {
  color: #000;
  margin: 10px 0;
}

.title a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.date {
  font-size: 13px;
  font-style: italic;
  margin-left: 20px;
}

.description {
  margin: 10px 0;
}

.button {
  background-color: #34056D;
  color: #fff;
  margin-top: 5px;
}

.question-tag {
  min-width: 90px;
  margin-right: 20px;
  float: right;
  color: #fff;
  padding-top: 1px;
  padding-bottom: 0;
  font-size: 10px;
}

.question-tag:hover {
  background-color: #34056D;
}

.comment-button-wrap {
  text-align: center;
}

.comment-block .media {
  padding-left: 30px;
  margin-top: 0;
}

.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.thumbs-up svg {
  fill:rgb(255,146,0);
  fill-rule:nonzero;
}

.thumbs-down svg {
  fill: rgb(255,146,0);
  fill-rule: nonzero;
}

.thumbs-up svg:hover path,
.positive {
  fill: green;
  color: green;
}

.thumbs-down svg:hover path,
.negative {
  fill: red !important;
  color: red;
}

.body-link {
  color: white;
}

.media {
  background-color: white;
}

.hidden {
  display: none;
}

.inline {
  display: inline-block;
}

/* Profile */

.badges {
  width: 75%;
  height: 150px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.75);
}

.vote-box {
  width: 100%;
  height: 20px;
  box-shadow: 4px 4px 10px grey;
  position: relative;
  background-color: grey;
  border-radius: 10px;
}

.vote-box-positive {
  height: 100%;
  width: 0;
  left: 0;
  background-color: green;
  position: absolute;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.vote-box-negative {
  height: 100%;
  width: 0;
  right: 0;
  background-color: red;
  position: absolute;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Class Page ****************************/

.class-page .title {
  display: inline-block;
}

.class-page .question-tag {
  margin-top: 10px;
}

.class-page .instructor,
.class-page .prerequisites,
.class-page .course-description-title {
  margin-bottom: 0;
}

.class-page .description {
  margin-top: 0;
}

.class-page .modal-title {
  display: inline-block;
}

.class-page .modal {
  color: #000;
}

.class-page .modal .star-container {
  text-align: center;
  padding: 20px 0;
}

.class-page .review-container {
  text-align: center;
}

.class-page .modal-footer .button {
  margin-top: 0;
}

.class-page .modal .star,
.class-page #classHead .star-ratings .star {
    cursor: pointer;
}



.question-colour {
  color: purple;
}

/* Star Ratings */

svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 1.41421;
}

.star path.star-border {
  fill: rgb(65,64,66);
  fill-opacity: 0.1;
  fill-rule: nonzero;
}

.star path.star-body {
  fill: rgb(202, 202, 202);
  fill-rule: nonzero;
}

.star.hovered path.star-body,
.star.rated-star path.star-body {
  fill: rgb(240,211,85);
}

/* Modal */

.modal {
  color: #000;
}
/* Forms */

.help {
  cursor: help;
}

.warning {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

/* List Page */

#list-page .title {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 24px;
  display: inline-block;
  font-weight: bold;
}

#list-page .date-and-user {
  margin-bottom: 0;
}

#list-page .date-and-user .date {
  margin-left: 0;
}

#list-page p.description {
  margin: 0;
}

#list-page .button.comments {
  margin: 0;
}

#list-page .see-more {
  padding-bottom: 20px;
}

.action-links {
  display: inline-block;
}

.action-links a {
  color: #957db3;
  font-weight: bolder;
  font-size: 12px;
  margin-right: 15px;
}

.action-links a:hover {
  color: #34056D;
}

#list-page hr {
  margin-top: 4px;
  margin-bottom: 8px;
  border-width: 3px;
}

#list-page .ratings,
#list-page .class-rating {
  display: inline-block;
}

#list-page .class-rating {
  margin-right: 10px;
}

#list-page .ratings {
  width: 80px;
}

/* Footer */

footer {
  padding-top: 20px;
  background-color: #000;
  width: 100%;
  clear:both;
  height: 250px;
}

footer .wrap {
  padding-top: 40px;
}

footer .wrap div {
  display: inline-block;
  vertical-align: middle;
}

.footer-logo {
  float: right;
  margin-top: 30px;
  margin-right: 50px;
}

.footer-logo img {
  width: 80px;
}

.med-img {
  width: 200px;
  opacity: 1;
}

.pulse-logo-container {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -125px;
  width: 250px;
}

.obscure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.90;
  z-index: 100 !important;
  padding-top: 20px;
  padding-bottom: 325px;
  background-color: grey;
}

/* Select2 */
.select2-results__option {
  color: black;
}

.select2:not(.select2-container--focus) .select2-selection--multiple {
  border-color: rgba(0,0,0,.15) !important;
}

.course-rating {
  display: inline-block;
}

#classHead .star-ratings {
  display: none;
}

/* Checkbox
 * Thanks to IAMSAIJO
 * https://codemyui.com/checkbox-tick-animation-click/
 */
input[type=checkbox] {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  display: inline;
  top: 0;
  margin-right: 5px;
  padding: 0;
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 0;
  background: transparent;
  -moz-appearance: checkbox;
  -webkit-appearance: checkbox;
  outline: auto;
}


input[type=checkbox]:before {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 1;
  width: 18px;
  height: 18px;
  border: 2px solid #555;
  box-sizing: border-box;
}

input[type=checkbox]:checked:before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 9px;
  border-color: #cc7e15;
  border-top-style: none;
  border-right-style: none
}

input[type=checkbox]:focus:before,
input[type=checkbox]:hover:before{
  border-color: #FF9200;
}

input[type=checkbox]:checked:focus:before,
input[type=checkbox]:checked:hover:before {
  border-color: #FF9200;
}

input[type=checkbox]:after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: 24px;
  height: 24px;
  background: #000;
  cursor: pointer;
  box-sizing: border-box;
}

textarea.modal-plaintext {
  border-radius: 5px;
  border-width: thin;
  width: 100%;
  height: 80%;
}