/* General */

html,
body {
  height: 100%;
}

body {
  background-color: #34056D;
  font-family: 'Comfortaa', cursive;
  color: #FF9200;
}

a {
  color: inherit;
}

a:hover,
a:focus,
.fa {
  color: #FF9200;
  text-decoration: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0;
}

.main-content {
  margin-bottom: 250px; /* Same height as footer */
  position: relative;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -250px;
  /* Pad bottom by footer height */
  padding: 0 0 250px;
}

/* Navbar */

.navbar {
  height: 70px;
  background-color: #000;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 0;
}

.navbar a:hover {
  color: black;
}

.navbar-logo p,
.nav-profile p {
  font-size: 20px;
  margin: 15px 0 0;
  display: inline-block;
}

.navbar-logo {
  float: left;
}

.nav-font p {
  font-family: 'Comfortaa',cursive;
  color: #FF9200;
}

.comment-nesting {
  padding-left: 50px;
}

.date a:hover,
.description a:hover,
.media a:hover,
.button:hover {
  color: #cc7e15;
}

#navbar-search {
  width: 300px;
  float: right;
  margin-top: 10px;
  margin-right: 50px;
}

#navbar-search .form-control {
  border-color: #fff;
}

#navbar-search .input-group-btn {
  z-index: 10;
}

#navbar-search .form-control:focus {
  border-color: #66afe9;
}

/* Profile menu */

.transparent-background {
  background-color: rgba(0,0,0,0);
}

.dropdown-toggle:after {
  color: #FF9200;
}

.profile-image {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.indented {
  border-color: white;
  background-color: #F9F9F9;
}

.dropdown-menu {
  background-color: black;
  min-width: 10px;
}

.dropdown-item {
  padding-left: 15%;
  color: #FF9200;
  text-decoration: none;
}

.dropdown-item:hover {
  color: black;
}

/* Main Page */

.row {
  margin-left: 0;
  margin-right: 0;
}

.container-fluid {
  padding: 0;
}

.main-search {
  text-align: center;
  padding-top: 200px;
}

.main-search p {
  font-size: 50px;
}

.search-bar {
  background-color: white;
  width: 900px;
  height: 50px;
  margin: auto;
  border-radius: 10px;
}

.search-bar input {
  width: 850px;
  height: 45px;
  background-color: transparent;
  border: none;
}

.search-bar input:focus {
  outline: none;
}

.nav-profile {
  float: right;
  padding-top: 5px;
  margin-right: -40px;
}

.featured-content {
  margin-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

.featured-item {
  height: 100px;
  margin-top: 20px;
}

.featured-item p {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding-top: 33px;
  color: black;
  height: 100%;
  font-size: 23px;
}

.featured-item p:hover {
  background-color: #FF9200;
}

.eng-text {
    margin: 1em;
}

.header-img {
  width: 3.5em;
  height: 3.5em;
}

.body-image {
  width: 250px;
  height: 250px;
  display: inline-block;
  float: right;
  margin: 2em;
}

.black-background {
  background-color: black;
}

.centered {
  text-align: center;
}

.main-content,
.wrap {
  padding-left: 40px;
  padding-right: 40px;
  /*padding-bottom: 40px;*/
}

.main-content {
  margin-top: 20px;
}

.info-block {
  height: 100%;
  background-color: white;
  padding: 10px;
  color: black;
}

.description a {
  color: #FF9200;
}

.title {
  margin: 10px 0 15px;
}

.title a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.date {
  font-size: 13px;
  font-style: italic;
  margin-left: 20px;
}

.date a,
.dropdown-item:hover {
  color: #FF9200;
}

.description {
  margin: 10px 0;
}

.button {
  background-color: #34056D;
  color: #fff;
  margin-top: 5px;
}

.question-tag {
  min-width: 90px;
  margin-right: 20px;
  float: right;
  background-color: rgba(52, 5, 109, 0.52);
  color: #fff;
}

.question-tag:hover {
  background-color: #34056D;
}

.comment-block .media {
  padding-left: 30px;
  margin-top: 0;
}

.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.thumbs-up svg path,
.thumbs-down svg path
 {
  fill: #FF9200;
  width: 17px;
  cursor: pointer;
}

.thumbs-up svg:hover path,
.positive {
  fill: green !important;
  color: green;
}

.thumbs-down svg:hover path,
.negative {
  fill: red !important;
  color: red;
}

.body-link {
  color: white;
}

.media {
  background-color: white;
}

.hidden {
  display: none;
}

.inline {
  display: inline-block;
}

/* Class Page */

.star.yellow svg path {
  fill: #F0D355 !important;
}

/* Footer */

footer {
  padding-top: 20px;
  background-color: #000;
  width: 100%;
  clear:both;
  height: 250px;
}

footer .wrap {
  padding-top: 40px;
}

footer .wrap div {
  display: inline-block;
  vertical-align: middle;
}

.footer-logo {
  float: right;
  margin-top: 30px;
  margin-right: 50px;
}

.footer-logo img {
  width: 80px;
}

/* Profile */
.badges {
  width: 75%;
  height: 150px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.75);
}

.vote-box {
  width: 100%;
  height: 20px;
  box-shadow: 4px 4px 10px grey;
  position: relative;
  background-color: grey;
  border-radius: 10px;
}

.vote-box-positive {
  height: 100%;
  width: 0;
  left: 0;
  background-color: green;
  position: absolute;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.vote-box-negative {
  height: 100%;
  width: 0;
  right: 0;
  background-color: red;
  position: absolute;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Class Page */

.class-page .title {
  display: inline-block;
}

.class-page .question-tag {
  margin-top: 10px;
}

.class-page .instructor,
.class-page .prerequisites,
.class-page .course-description-title {
  margin-bottom: 0;
}

.class-page .description {
  margin-top: 0;
}

.class-page .modal-title {
  display: inline-block;
}

.class-page .modal {
  color: #000;
}

.class-page .modal .star-container {
  text-align: center;
  padding: 20px 0;
}

.class-page .review-container {
  text-align: center;
}

.class-page .modal-footer .button {
  margin-top: 0;
}

.class-page .modal .star {
    cursor: pointer;
}

.question-colour {
  color: purple;
}

/* Modal */

.modal {
  color: #000;
}
/* Forms */

.help {
  cursor: help;
}

.warning {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

/* Home Page */

#home-page .row.featured-content {
  padding-bottom: 250px;
}


/* List Page */

#list-page .title {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 24px;
  display: inline-block;
  font-weight: bold;
}

#list-page .votes-and-dates {
  margin-bottom: 0px;
}

#list-page p.description {
  margin: 0px;
}

#list-page .button.comments {
  margin: 0px;
}

#list-page .see-more {
  padding-bottom: 20px;
}

#list-page .action-links a {
  color: #FF9200;
  font-size: 12px;
  margin-right: 15px;
}

#list-page .action-links a:hover {
  color: #cc7e15;
}

#list-page hr {
  margin-top: 5px;
  border-width: 3px;
}
