extends layout 

block content 
  .main-content
  .media
    .info-block.description.media
      h2 Code to Execute
      p
        | Code must be valid strict-mode javascript. All database queries are permanent. To log something, use log(str) instead of console.log(str).
      hr
      b
        #code(contenteditable='true', style='resize: both; min-width: 50%; max-width: 100%; min-height: 200px; border: 1px solid #ccc;')
        br
        input(type='button', name='submit', value='Run', onclick='execute()')
        br
        hr
        h4 Result
        textarea#result(style='font-weight:bold; resize: both; min-width: 50%; max-width: 100%;', disabled='')
  script(type='text/javascript').
    function execute() {
    $.ajax({
    url: '/eval',
    type: 'POST',
    contentType: 'application/json',
    data: JSON.stringify({"code": $(code)[0].innerText})
    }).done(function(data) {
    var logs = "Result: \\n" + getInfo(data);
    $(result).val(logs);
    }).fail(function(err) {
    console.log(err)
    $(result).val("Result:\\n" + err.statusText);
    });
    }
    function getInfo(logs) {
    var str = "";
    for (var i in logs)
    str += logs[i] + "\\n";
    return str;
    }
