extends layout 


block content       
  // Introductory Modal Window
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Welcome to the Engineering Society Forum!
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p
            | The engineering forum is a place where Queen's Engineering students can come to have their questions answered. It is pretty simple to use. If you have a question, then post it. If you see questions that you know the answer to, then answer them!
          h6(style='font-weight: bold;') Upvote/Downvote
          p
            | You are able to upvote and downvote questions and answers. It is good practive to upvote a questions that are posted and that you would also like to have answered. It is also good practive to upvote answers that you agree with so they can be seen as the "best" answer.
          h6(style='font-weight: bold;') Subscribe to Questions
          p
            | You are also able to subcribe to questions that you would like to follow. If you are subscribed to a question and someone posts an answer to the question, you will receive an email notification.
          h6(style='font-weight: bold;') Forum Organization
          p
            | The forum organizes questions through tags. Every question has to have a course code tag associated with it and additional tags can be applied if desired. For instance, MECH 111 (Physics) should have the tag "MECH 111" associated with it and you can also add a "Physics" and "Newton" tag if you would like. You can then search the forum for questions that fall under a particular class or topic.
          h6(style='font-weight: bold;') Class Information and Ratings
          p
            | Not only are you able to ask and answer questions, but you are also able to view a list of Queen's Engineering courses and rate them. The class pages include information such as the course description, professor, and credit weighting. You are also able to rate Queen's Engineering courses. Ratings occur on a 5 star scale and the average rating for each course is calculated.
        .modal-footer
          button.btn.button(type='button', data-dismiss='modal') Get Started
  .main-search
    h1 Ask your engineering question below
    .search-bar
      input#search
  br
  #toggle.centered
    a(href='#', onclick='showOptions()') See Search Options
  #options.centered.hidden
    p What Would You Like To Search For?
    .btn-group.centered(role='group', aria-label='Basic example')
      button#all.btn.btn-secondary.active(type='button', onclick="toggleSelection('all')") All
      button#posts.btn.btn-secondary(type='button', onclick="toggleSelection('posts')") Posts
      button#links.btn.btn-secondary(type='button', onclick="toggleSelection('links')") Links
      button#classes.btn.btn-secondary(type='button', onclick="toggleSelection('classes')") Classes
      button#users.btn.btn-secondary(type='button', onclick="toggleSelection('users')") Users
    br
    br
    a(href='/advanced') Advanced Search
  .row.featured-content
    .col-sm-6.col-lg-3.featured-item
      a(href='/list')
        p First Year Courses
    .col-sm-6.col-lg-3.featured-item
      a(href='/list')
        p Recently Asked
    .col-sm-6.col-lg-3.featured-item
      a(href='/list')
        p Mechanical
    .col-sm-6.col-lg-3.featured-item
      a(href='/list')
        p Chem Eng
    .col-sm-6.col-lg-3.featured-item
      a(href='/list')
        p Computer
    .col-sm-6.col-lg-3.featured-item
      a(href='/list')
        p Geological
    .col-sm-6.col-lg-3.featured-item
      a(href='/list')
        p Civil
    .col-sm-6.col-lg-3.featured-item
      a(href='/list')
        p Eng Chem
