#aProblemOccurred.modal.fade.media(role='dialog')
    .modal-dialog
        .modal-content
            .modal-body
                h3 Oh No!
                p
                    | It appears that something went wrong. You can either
                    a(href='#', onclick='location.reload()') reload the page
                    |  or
                    a(href='/') try a new query
                    | .