extends layout

block content
  // Body
  .main-content
    // Question
    .info-block
      .description
        h2 About Us
        br
        img.body-image.black-background(src='/assets/qef.png')
        p
          | The Engineering Forum was a project that the EngSoc IT Team began during the 2016-2017 school year with the objective of making it easier for students to ask each other questions and to help other students have access to that information. The forum was designed to be a space where homework and other school-related questions could be asked. Additionally, the forum was to be a place where other school-related information could be gathered, curated and shared as a powerful resource at the disposal of Queen's Engineering Students.
        p
          | If you have any questions or suggestions that were not sufficiently addressed here, feel free to 
          a(href='mailto:doit@engsoc.queensu.ca') contact us
          | ! Or, if you're a bit more technical and are curious about the implementation of this service, feel free to 
          a(href='https://github.com/EngSoc-IT-Team/forum') see the Github repository
          |  that contains more details about how this forum was created. Finally, if you're interested in learning more about the EngSoc IT Team, take a look at the 
          a(href='#') EngSoc IT Team page
          |  to see some of the cool projects that we've worked on over the past few years!
