extends page

block content
  include modals/quickHelpModal

  .main-search
    h1 Ask your engineering question below
    .search-bar
      input#search
  br
  #toggle.centered
    a(href='#', onclick='showOptions()') See Search Options
  #options.centered.hidden
    p What Would You Like To Search For?
    .btn-group.centered(role='group', aria-label='Basic example')
      button#all.btn.btn-secondary.active(type='button', onclick="toggleSelection('all')") All
      button#posts.btn.btn-secondary(type='button', onclick="toggleSelection('posts')") Posts
      button#links.btn.btn-secondary(type='button', onclick="toggleSelection('links')") Links
      button#classes.btn.btn-secondary(type='button', onclick="toggleSelection('classes')") Classes
      button#users.btn.btn-secondary(type='button', onclick="toggleSelection('users')") Users
    br
    br
    a(href='/advanced') Advanced Search
  .row.featured-content
    .col-sm-6.col-lg-3.featured-item
      a(href='/list')
        p First Year Courses
    .col-sm-6.col-lg-3.featured-item
      a(href='/list')
        p Recently Asked
    .col-sm-6.col-lg-3.featured-item
      a(href='/list')
        p Mechanical
    .col-sm-6.col-lg-3.featured-item
      a(href='/list')
        p Chem Eng
    .col-sm-6.col-lg-3.featured-item
      a(href='/list')
        p Computer
    .col-sm-6.col-lg-3.featured-item
      a(href='/list')
        p Geological
    .col-sm-6.col-lg-3.featured-item
      a(href='/list')
        p Civil
    .col-sm-6.col-lg-3.featured-item
      a(href='/list')
        p Eng Chem
