doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Engineering Society Forum')
    meta(name='author', content="Queen's Engineering Society")
    meta(name='keywords', content='Queens University, School, Forum, Engineering, Undergraduate')
    title EngSoc Forum - #{title}
    link(rel='icon', href='../assets/favicon.ico')
    link(rel='stylesheet', href='../css/normalize.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css', integrity='sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='../css/style.css')
    link(href='https://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=cyrillic', rel='stylesheet')
    script(type='text/javascript', src='/js/common.js')
    if stylesheets
      for stylesheet in stylesheets 
        link(rel='stylesheet', href='/css/' + stylesheet)
    if scripts 
      for script in scripts 
        script(type='text/javascript', src='/js/' + script)
  body
    #wrap.container-fluid
      if nav == "search"
        include includes/navbarWithSearchAndMenu
      else if nav == "menuOnly"
        include includes/navbarWithMenu
      else
        include includes/navbarWithMenu
      block content
      include modals/feedbackModal
    footer
      .wrap.clearfix
        .menu-items
          a(href='/about')
            p About
          a(href='https://engsoc.queensu.ca/', target='_blank')
            p Engineering Society Website
          a(href='/help')
            p Help
          a(onclick='triggerModal("feedback");', href="javascript:void(0)")
            p Feedback
        .footer-logo
          a(href='https://engsoc.queensu.ca/society/itsupport/', target='_blank')
            img(src='../assets/ITTLogo.svg')
