extends page

block content 
  .main-content
    .info-block.media
      h2.title User Profile
      .description
        .row
          .col-xs-6
            h4#username _
            hr
            h6#joined Date joined:
            h6 Status: Newbie
            h6 Badges:
            .badges.centered
              .centered
                | Earn badges by contributing to the forum!
            br
            #knowledge Knows About:
          .col-xs-6
            h4 Summary:
            hr
            h5 Contribution History:
            h6#posts Posts:
            h6#comments Comments:
            h6#links Links:
            h6#other Other Contributions:
            br
            h5 Voting:
            h6#voting.centered
              #up.inline.positive
              |  |
              #down.inline.negative
            .container.vote-box
              #positive.vote-box-positive
              #negative.vote-box-negative
            br
    br
    // IF isUser
    #personal
      .info-block.media
        .description.row
          .col-xs-6
            h4 Saved Items
            hr
            div
              #saved.info-block
                | Nothing to see here!
          .col-xs-6
            h4 Subscribed Items
            hr
            div
              #subscribed.info-block
                | Nothing to see here!
      br
    // Regardless Show contributions
    .info-block.media.row
      .description
        .col-xs-12
          h4 Recent Contributions
          hr
          div
            #contributions.info-block
              | Nothing to see here ... yet!
    script(src='https://cdn.ckeditor.com/4.6.2/basic/ckeditor.js')
    // Modal
    include modals/anErrorOccurredModal
