extends layout

block content
  .main-content
    // Question
    #questionHead
    br
    // Comments
    .comment-list.media
      .info-block.comment-block.media.row
        .col-sm-12
          h2.title Comments
        #comments
        // /First Level Comment
        #foot.centered.media
          hr
          a#getMore(href='#', onclick='getMore()') v See More v
  script(src='https://cdn.ckeditor.com/4.6.2/basic/ckeditor.js')
